*{
	padding:0px;
	margin:0px;
	box-sizing:border-box;
}
body{
	background-color:black;
	color:#14d4ef;
}
.countDown{
	font-size:50px;
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	
}
.counter{
	display:inline-block;
	margin: 0px 10px;
	text-align:center;
	
	
}
.counter p{
	text-shadow:2px 2px 20px #17d4ef;
	
}
.counter p:first-child{
	font-family: 'Robot',sans-serif;
}
.counter p:last-child{
	font-family:'orbitron',sans-serif;
}